<form class="form-horizontal" ng-submit="vm.calculatePayment(args)">
    <fieldset>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <legend>Mortgage Calculator</legend>
            </div>
        </div>
        <!-- loan balance input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="balance">Loan Balance</label>
            <div class="col-md-4">
                <input ng-model="args.balance" type="number" step="0.01" class="form-control input-md">
            </div>
        </div>
        <!-- rate input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="rate">Interest Rate (%)</label>
            <div class="col-md-4">
                <input ng-model="args.rate" type="number" step="0.01" class="form-control input-md">
            </div>
        </div>
        <!-- term input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="term">Loan Term (years)</label>
            <div class="col-md-4">
                <input ng-model="args.term" type="number" class="form-control input-md">
            </div>
        </div>
        <!-- period Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="period">Period</label>
            <div class="col-md-4">
                <select ng-model="args.period" class="form-control">
                    <option value="12">Monthly</option>
                    <option value="6">Bimonthly</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary" type="submit">Calculate</button>
                <br/>
                <br/>
                <h3 id="output">{{vm.result}}</h3>
            </div>
        </div>
    </fieldset>
</form>
